body {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  left: 0;
  z-index: 99;
  padding-bottom: 0.1rem;
  width: 10rem;
  background: #ff0036;
  -webkit-background-size: 100%;
  background-size: 100%;
}
header .logo {
  margin: 0 auto;
  width: 2.82666rem;
  height: 0.653333rem;
  background: url("https://gw.alicdn.com/tfs/TB1HWNORFXXXXciaXXXXXXXXXXX-800-140.png") no-repeat center;
  background-size: cover;
}
header .menu {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  top: 0.1rem;
  left: 0.25rem;
  background: url("../img/menu.png") no-repeat center;
  background-size: cover;
}
header .search {
  display: block;
  position: relative;
  margin: 0.2rem auto 0;
  width: 90%;
  height: 0.8rem;
}
header .search input {
  display: block;
  padding: 0 0 0 0.8rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
}
header .search::before {
  content: "";
  position: absolute;
  left: 0.05rem;
  top: 0.13rem;
  width: 0.6rem;
  height: 0.6rem;
  background: url("../img/search_32px_1187938_easyicon.net.png") no-repeat 0 0;
  background-size: cover;
}
header .search::after {
  content: "";
  clear: both;
  width: 100%;
}
header aside {
  display: none;
  position: fixed;
  left: -8rem;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 8rem;
  background-color: #e1e1e1;
}
header aside .mask {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 1rem;
  width: 2rem;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  font-size: 12px;
  color: #fff;
  writing-mode: vertical-lr;
  text-align: center;
}
header aside h1 {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #3c3c3c;
  font-size: 0.4rem;
  color: #333;
  line-height: 1rem;
  text-indent: 1rem;
}
header aside .list {
  float: left;
  height: 100%;
}
header aside .list .list-name {
  width: 1.5rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  border-bottom: 1px solid #7a43b6;
  font-size: 0.3rem;
  color: #3c3c3c;
}
header aside .list .list-name.current {
  background-color: #fff;
  border-right: none;
}
header aside .show-container {
  position: relative;
  float: right;
  overflow: hidden;
  width: 6.5rem;
  height: calc(100% - 1rem);
  background-color: #fff;
}
header aside .show-container .show {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
header aside .show-container .show >div {
  float: left;
  padding: 0.3rem;
  width: 50%;
  height: 5rem;
}
header aside .show-container .show >div img {
  display: block;
  margin: 0.2rem auto;
  width: 80%;
  height: 2rem;
}
header aside .show-container .show >div p {
  max-height: 1.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroll-data {
  padding-top: 1.8rem;
  width: 100%;
  height: auto;
  background-color: #eee;
}
.scroll-data .scroll-container {
  width: 100%;
  transform: translateX(0) translateY(0px);
}
.scroll-data .scroll-container .module .map {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}
.scroll-data .scroll-container .module .map .map-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: flex;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: auto;
  padding: 0.311rem;
  height: 100%;
  text-align: center;
}
.scroll-data .scroll-container .module .map .map-column img {
  display: block;
  margin: 0.13333rem auto;
  width: 1rem;
  height: 1rem;
}
.scroll-data .scroll-container .carousel {
  width: 100%;
  height: 4.45333rem;
  overflow: hidden;
}
.scroll-data .scroll-container .carousel ul {
  height: 100%;
  width: 50rem;
  margin-bottom: 0;
}
.scroll-data .scroll-container .carousel ul li {
  float: left;
  height: 100%;
  width: 10rem;
}
.scroll-data .scroll-container .carousel ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll-data .scroll-container .carousel ul li a img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.scroll-data .hot-item {
  width: 100%;
  margin-top: 1rem;
  background-color: #fff;
}
.scroll-data .hot-item .hot-head {
  height: 1rem;
  width: 100%;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  color: #ffa500;
  background: url("https://img.alicdn.com/tps/TB1t9n6LFXXXXaXXXXXXXXXXXXX-60-60.png") no-repeat 38% center;
  background-size: contain;
}
.scroll-data .hot-item .item-column {
  float: left;
  box-sizing: border-box;
  margin: 0.2rem 5% 0 5%;
  padding-bottom: 0.4rem;
  width: 40%;
}
.scroll-data .hot-item .item-column img {
  width: 100%;
  margin-bottom: 0.2rem;
}
.scroll-data .hot-item .item-column span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: #3c3c3c;
}
.back-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  width: 1rem;
  height: 1rem;
}
.back-top img {
  width: 100%;
  height: 100%;
}
